* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../static/hero.jpg);
    background-color: #fff ;
    color: #555;
    font-family: 'Lato', Arial, sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

header {    
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.hero-text-box {
    position: absolute;
    max-width: 1140px;
    top: 50%;
    left: 20%;
    transform: translate(-20%, -50%);
}

h1 {
    margin-top: 0;
    margin-bottom: 2px;
    font-weight: 300;
    color: #fff;
    font-size: 200%;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
}

h3 {
    font-weight: 300;
    margin-bottom: 10px;
    color: #fff;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    color: #fff;

}

.btn-full {
    background-color: #E67E22;
    border: 1px solid #E67E22;
}